# APP_ENV=env details   
# PORT=8000
# # Database Configuration
# DB_HOST=localhost
# DB_PORT=5432
# DB_USER=postgres
# DB_PASSWORD=Admin@321
# DB_NAME=care-capture-app
# #DB_SSL=true
# PORT=8000
# REDIS_HOST=localhost
# REDIS_PORT=6379
# # OpenAI API Key
# OPENAI_API_KEY=open-api-key